{
    "extends": "eslint:recommended",
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 10,
        "sourceType": "module"
    },
    "rules": {
        "no-undef": "error",
        "semi": "error",
        "space-infix-ops": "error",
        "quotes": ["error", "double", {"allowTemplateLiterals": true}],
        "no-console": "off",
        "no-shadow": ["warn", { "builtinGlobals": false, "hoist": "functions", "allow": [] }],
        "no-redeclare": ["error", { "builtinGlobals": true }],
        "brace-style": ["error", "stroustrup", {"allowSingleLine": true}],
        "keyword-spacing": "error",
        "no-else-return": "error",
        "curly": ["error", "multi-line", "consistent"],
        "dot-notation": "error",
        "yoda": "error",
        "linebreak-style": ["error", "windows"],
        "quote-props": ["error", "consistent-as-needed", {"keywords": true}],
        "object-curly-spacing": ["error", "never", { "objectsInObjects": false }],
        "no-var": "error",
        "prefer-const": "error"
    },
    "globals": {
        "Set": false,
        "Promise": false
    }
}